.calc{
    background-color: bisque;
    height: 520px;
    width: 300px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    
}
.print{
    background-color:rgb(228,218,219);
    height: 90px;
    border: 2px solid rgb(228,218,219);
    font-family:Lucida Console, Courier New, monospace;
}
.buttons{
    text-align: center;
    width: 300px;
    display: flex;
    flex-wrap: nowrap;
    height: 86px;
    background-color: rgb(255,254,249);
}
.num{
    width:75px;
    height:86px;
    border: 1px solid rgb(228,218,219);
}

.num:hover{
    background-color: antiquewhite;
    
}
.operator{
    background-color: tomato;
    border: 1px solid rgb(228,218,219);
    width:75px;
    height:86px;
}
.operator:hover{
    background-color: red;
}